*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    

}
button{
    margin: 50%;
    position: absolute;
    height: 35px;
    width: 90px;
    border: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

}
button:hover{
    color: #fff;
    background-color: rgb(77, 41, 65);
}
